{% extends 'shop/layouts/main.html' %}
{% block content %}



<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">{{products | upper}}  </h4>
                <hr style="border-color:aliceblue;">
            </div>
            <div class="col-4 my-3 picbox">
                {% if products.trending %}
                <p class="hot">HOT</p>
                {% endif %}
                <img src="{{products.product_image.url}}" class="card-image-top" alt="">

            </div>
            <div class="col-8 my-4">
                <h5 class="text-success">{{products | upper}}</h5>
                <p>{{products.vendor}}</p>
                <p>{{products.description}}</p>
                <h6 class="my-2 text-danger">current price:Rs.<s>{{products.original_price |stringformat:'d'}}</s></h6>
                <h5 class="my-2 text-primary">offer price:Rs.{{products.selling_price |stringformat:'d'}}</h5>
            </div>
            <div class="my-3">
                <button class="btn btn-primary"><i class="fa fa-cart">Add to cart</i></button>
                <button class="btn btn-primary"><i class="fa fa-heart"></i></button>
            </div>


        </div>

    </div>
</section>
{% endblock content %}