html {
  font-size: 14px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto Slab', serif;
}
.toppad{
  padding-top: 80px;
}
.seconddiv{
  height: 80px;
  background-color: rgb(23, 162, 175);
  padding: 0;
  margin: 0;
  object-position: top;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;

  

}

.carousel-item img{
  min-height: 600px;
  object-fit:cover;
}

a {
  text-decoration: none;
}

img{
   width: 300px;
  min-height: 280px;
  max-height: 280px;
  padding: 25px;
  padding-top: 30px;
}



.card-body {
  display: flex;
  flex-direction: column;
}

button.btn {
  margin-top: auto;
}

p {
  font-size: 16px;
  ;
}

.old-price {
  color: rgb(200, 32, 32)
}

.new-price {
  background-color: rgb(7, 104, 7);
  color: antiquewhite;
  border-radius: 5px;
  padding: 2px;
}

.picbox {
  position: relative;
}

.hot {
  background-color: orange;
  color: aliceblue;
  width: 50px;
  text-align: center;
  font-weight: bold;
  display: inline;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 10;

}